<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge centered header">
        <p>Update Post</p>
    </div>
    <form class="ui form" action="/posts/<%= editBlogPost._id %>?_method=PUT" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="post[title]" value="<%= editBlogPost.title %>">
        </div>
        <div class="field">
            <label>Image url</label>
            <input type="text" name="post[image]" value="<%= editBlogPost.image %>">
        </div>
        <div class="field">
            <label>Post text</label>
            <textarea name="post[text]" id="" cols="30" rows="10"><%= editBlogPost.text %></textarea>
        </div>
        <button class="ui secondary basic  fluid button">Update Post</button>
    </form>
    </div>


<% include partials/footer %>